[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.0"
django-multiselectfield = "*"
djangorestframework = "*"
httpie = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
